# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#others
/libssa_check
/.cproject
/.project
/libssa_example
/05102014_2044.gprof
/05102014_2118.gprof
/05102014_2120.gprof
/chunk_size_100.gprof
/chunk_size_1000.gprof
/8_threads.gprof
