# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#others
*.gcda
*.gcno
/libssa_check
/.cproject
/.project
/libssa_example
/example
/coverage_data
/callgrind.out.*
/perf.data*
/Debug/
