# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#others
*.gcda
*.gcno
/libssa_check
/.cproject
/.project
/libssa_example
/example
/coverage_data
/callgrind.out.*
/perf.data*
/Debug/
/perf_example
/debug_output/
/debug_output_chunk_8_AF091148/
/debug_output_chunk_8_AF091148_selection/
/plans
/.~lock.qtable_dprofile_filling.ods#
/some_notes.to_read
/libssa.a_before.asm
/libssa.a.asm
/tmp/
